<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Shipping\Model\Order\Track">
        <plugin name="WebShopApps_Tracker" type="WebShopApps\Tracker\Plugin\Order\Shipment\TrackPlugin" />
    </type>
</config>