<?xml version="1.0"?>
<!--
  ~ ShipperHQ
  ~
  ~ @category ShipperHQ
  ~ @package ShipperHQ\Tracker
  ~ @copyright Copyright (c) 2016 Zowta LTD and Zowta LLC (http://www.ShipperHQ.com)
  ~ @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  ~ @author ShipperHQ Team sales@shipperhq.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
        <section id="carriers">
            <group id="shqtracker1" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ShipperHQ Tracker 1</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tracking Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="preurl" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pre-Configured Tracking URL</label>
                    <comment>Select from known Pre-Configured URL's</comment>
                    <source_model>ShipperHQ\Tracker\Model\Config\Source\Preurl</source_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manual Tracking URL</label>
                    <comment><![CDATA[Enter Manual Tracking URL. Must include #TRACKNUM#, can also include #POSTCODE#.<br/>E.g.: https://carrier.example/track?num=#TRACKNUM#&postcode=#POSTCODE#]]></comment>
                    <depends>
                        <field id="preurl">none</field>
                    </depends>
                </field>
            </group>
            <group id="shqtracker2" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ShipperHQ Tracker 2</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tracking Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="preurl" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pre-Configured Tracking URL</label>
                    <comment>Select from known Pre-Configured URL's</comment>
                    <source_model>ShipperHQ\Tracker\Model\Config\Source\Preurl</source_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manual Tracking URL</label>
                    <comment><![CDATA[Enter Manual Tracking URL. Must include #TRACKNUM#, can also include #POSTCODE#.<br/>E.g.: https://carrier.example/track?num=#TRACKNUM#&postcode=#POSTCODE#]]></comment>
                    <depends>
                        <field id="preurl">none</field>
                    </depends>
                </field>
            </group>
            <group id="shqtracker3" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ShipperHQ Tracker 3</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tracking Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="preurl" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pre-Configured Tracking URL</label>
                    <comment>Select from known Pre-Configured URL's</comment>
                    <source_model>ShipperHQ\Tracker\Model\Config\Source\Preurl</source_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manual Tracking URL</label>
                    <comment><![CDATA[Enter Manual Tracking URL. Must include #TRACKNUM#, can also include #POSTCODE#.<br/>E.g.: https://carrier.example/track?num=#TRACKNUM#&postcode=#POSTCODE#]]></comment>
                    <depends>
                        <field id="preurl">none</field>
                    </depends>
                </field>
            </group>
            <group id="shqtracker4" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ShipperHQ Tracker 4</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tracking Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="preurl" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pre-Configured Tracking URL</label>
                    <comment>Select from known Pre-Configured URL's</comment>
                    <source_model>ShipperHQ\Tracker\Model\Config\Source\Preurl</source_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manual Tracking URL</label>
                    <comment><![CDATA[Enter Manual Tracking URL. Must include #TRACKNUM#, can also include #POSTCODE#.<br/>E.g.: https://carrier.example/track?num=#TRACKNUM#&postcode=#POSTCODE#]]></comment>
                    <depends>
                        <field id="preurl">none</field>
                    </depends>
                </field>
            </group>
            <group id="shqtracker5" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ShipperHQ Tracker 5</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tracking Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="preurl" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pre-Configured Tracking URL</label>
                    <comment>Select from known Pre-Configured URL's</comment>
                    <source_model>ShipperHQ\Tracker\Model\Config\Source\Preurl</source_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manual Tracking URL</label>
                    <comment><![CDATA[Enter Manual Tracking URL. Must include #TRACKNUM#, can also include #POSTCODE#.<br/>E.g.: https://carrier.example/track?num=#TRACKNUM#&postcode=#POSTCODE#]]></comment>
                    <depends>
                        <field id="preurl">none</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
